.Navbar {
    background-color: #e9ecef;;
    padding-left: 0rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    
}
.first {
    
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    width: 100px;
    background-color: crimson;
    text-transform: uppercase;
    font-weight: bold;
}
.score {
    position: absolute;
    right: 0px;
   background-color: blanchedalmond;
    width: 300px;
    border: black;
    border-bottom-left-radius: 20rem;
    border-bottom-right-radius:20rem ;
    border-style: solid;
    margin:auto;
  border-width: 2px 2px 2px 2px;
color : black;
    text-align: end;
    padding-right: 2rem;
    margin-top: -3.2rem;

}